<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>组织及协会</key>
		<dict/>
	</dict>
	<key>1</key>
	<dict>
		<key>投资机构</key>
		<dict/>
	</dict>
	<key>2</key>
	<dict>
		<key>孵化器</key>
		<dict/>
	</dict>
	<key>3</key>
	<dict>
		<key>中介机构</key>
		<dict>
			<key>0</key>
			<dict>
				<key>券商/投行</key>
				<array/>
			</dict>
			<key>1</key>
			<dict>
				<key>律师事务所</key>
				<array/>
			</dict>
			<key>2</key>
			<dict>
				<key>会计师事务所</key>
				<array/>
			</dict>
			<key>3</key>
			<dict>
				<key>第三方理财</key>
				<array/>
			</dict>
			<key>4</key>
			<dict>
				<key>其他</key>
				<array/>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>企业</key>
		<dict>
			<key>0</key>
			<dict>
				<key>医疗健康</key>
				<array>
					<string>医药产业</string>
					<string>医疗器械</string>
					<string>医疗工业</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>其他</key>
				<array>
					<string>TMT</string>
					<string>新能源</string>
					<string>环保</string>
					<string>服务业</string>
					<string>制造业</string>
					<string>其他</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
