<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xinwen</key>
	<string>2015年10月7日晚23时30分许，十一国庆长假即将结束之际，中央纪委监察部网站宣布，“福建省委副书记、省长苏树林涉嫌严重违纪，目前正接受组织调查。”

至此，“60后”干部苏树林成为十八大后首位落马的现任省长。与此同时，石油系统当年被称为“东西二虎”的廖永远、苏树林已双双落马。

苏树林（1962.3）是山东东阿人。1983年7月从黑龙江省大庆石油学院石油地质专业毕业后，他被分配到专业对口的大庆油田工作。拥有工学学士学位的苏树林从普通工人做起，随后逐步获得重任。</string>
</dict>
</plist>
