<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>news</key>
	<string>“政事儿”(微信ID：gcxxjgzh)注意到，作为最高领导人，习近平在西雅图有关反腐与权力斗争的表述，是首次对各界最为直接的公开回应。

　　专家谈“反腐与权力斗争”

　　“越来越没人相信反腐是党内不同派系的权力斗争”

　　《环球时报》曾援引日本《外交学者》杂志2014年8月6日《对中国反腐的四种误解》一文指出，“反腐是党内不同派系的权力斗争”这种观点越来越没人相信，因为越来越多的人意识到，习近平是不同于以往的领导人。

　　中纪委特约监察员、中国人民大学政治学教授周淑真接受“政事儿”(微信ID：gcxxjgzh)采访时说，“反腐是党内不同派系的权力斗争”观点是腐败分子和个别境外媒体对中国反腐的误读。

　　周淑真表示，中国反腐是基于现实需求、社会形势作出的必然选择，“改革开放以来，虽然中央领导一直高度重视反腐倡廉，但是还是积累下一系列问题和相当数量的腐败存量，区域性腐败、系统性腐败、家族式腐败、塌方式腐败等等，腐败现象趋于严重化、复杂化，所以中央领导屡次强调，不反腐有亡党亡国的危险。减少腐败存量、遏制腐败增量、重构政治生态，这是当下中国必须走出的一步，与权力斗争无关”。

　　中纪委特约监察员、中国政法大学副校长马怀德对“政事儿”(微信ID：gcxxjgzh)说，十八大以来的反腐事实，足以证明中国反腐不是“选择性反腐”，更不存在所谓的“权力斗争”，“梳理下十八大以来被查处的腐败案例，可以发现各个领域、各个行业的官员都有涉及，充分体现了‘凡腐必惩，有贪必肃’这8个字，中国反腐是依法进行，没有为任何人开辟绿色通道”。

　　实际中的中国反腐

　　对腐败分子全方位查处、无死角不封顶

　　2012年12月6日，四川省委原副书记李春城被查，这距离新一届中央领导班子亮相仅一月有余。由此，针对党、政、军、人大、政协和企业等各个层面的反腐败斗争大幕全面开启。</string>
</dict>
</plist>
