<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xinwen</key>
	<string>【环球时报驻菲律宾特约记者张晓闻刘德】将于明年举行的菲律宾总统大选12日正式开跑，选举委员会当天开放办理竞选登记。25人首日登记竞逐总统或副总统。菲律宾rappler新闻网评论说，虽然政治怪象对菲律宾人来说并不稀奇，但2016年的总统大选将“不可思议”带到一个全新的高度。

据台湾“中央社”报道，菲律宾选举委员会的资料显示，在登记竞选总统的人中，只有现任副总统比奈被视为“主流候选人”。其余“非主流”竞选者包括前政府职业训练署署长、生意人、三轮车夫以及家庭主妇等。其中，争议律师帕马通以焚烧中国国旗的方式博眼球。

菲律宾ABS-CBN新闻网报道称，12日8时选举委员会办公室还没开门，帕马通就抵达那里，并焚烧了中国国旗，以作为他承诺在与中国领土争端中捍卫菲律宾的象征。在完成登记后，他狂妄宣称百分之百将成为菲新总统。

ABS-CBN新闻网评论说，帕马通早已在菲国内臭名远扬。2004年，他参加总统大选受挫后，他的支持者在马尼拉高速公路上撒布钢钉，导致百余辆汽车爆胎。去年9月，他涉嫌参与策划针对中国驻菲律宾大使馆等地的爆炸未遂事件，被菲相关部门逮捕。据菲律宾GMA新闻网报道，现年66岁的帕马通声称他比其他候选人都好，并很困惑为什么民意调查机构之前宣布他是讨人嫌的竞选人。

“中央社”报道称，竞选登记将于16日截止。预计一些重量级总统竞选人，如“自由党”的罗哈斯、达沃市市长罗德里戈等都将在15日前往选举委员会。而那些“闹场竞选人”料将被取消竞选资格。</string>
	<key>topic</key>
	<string>我是一个古怪的女孩，从小被目为天才，除了发展我的天才外别无生存的目标。然而，当童年的狂想逐渐褪色的时候，我发现我除了天才的梦之外一无所有——所有的只是天 
才的乖僻缺点。世人原谅瓦格涅的疏狂，可是他们不会原谅我. 加上一点美国式的宣传，也许我会被誉为神童。我三岁时能背诵唐诗。我还记得摇摇摆摆地立在一个满清遗老的藤椅前朗吟“商女不知亡国恨，隔江犹唱后庭花”，眼看着他的泪珠滚下来。七岁时我写了第一部小说，一个家庭悲剧。遇到笔划复杂的字，我常常跑去问厨子怎样写。第二部小说是关于一个失恋自杀的女郎。我母亲批评说：如果她要自杀，她决不会从上海乘火车到西湖去自溺，可是我因为西湖诗意的背景，终于固执地保存了这一点。 

我仅有的课外读物是《西游记》与少量的童话，但我的思想并不为它们所束缚。八岁那年，我尝试过一篇类似乌托邦的小说，题名《快乐村》。快乐村人是一好战的高原民族，因征服苗人有功，蒙中国皇帝特许，免征赋税，并予自治权。所以快乐村是一个与外界隔绝的大家庭，自耕自织，保存着部落时代的活泼文化。 

我特地将半打练习簿缝在一起，预期一本洋洋大作，然而不久我就对这伟大的题材失去了兴趣。现在我仍旧保存着我所绘的插画多帧，介绍这种理想社会的服务、建筑、室内装修，包括图书馆、“演武厅”、巧克力店、屋顶花园。公共餐室是荷花池里一座凉亭。我不记得那里有没有电影院与社会主义——虽然缺少这两样文明产物，他们似乎也过得很好。 

九岁时，我踌躇着不知道应当选择音乐或美术作我终身的事业。看了一张描写穷困的画家的影片后，我哭了一场，决定做一个钢琴家，在富丽堂皇的音乐厅里演奏。 

对于色彩、音符、字眼，我极为敏感。当我弹奏钢琴时，我想象那八个音符有不同的个性，穿戴了鲜艳的衣帽携手舞蹈。我学写文章，爱用色彩浓厚、音韵铿锵的字眼，如“珠灰”、“黄昏”、“婉妙”、“splendour”、“melancholy”，因此常犯堆砌的毛病。直到现在，我仍然爱看《聊斋志异》与俗气的巴黎时装报告，便是为了这种有吸引力的字眼。 

在学校里我得到自由发展。我的自信心日益坚强，直到我十六岁时，我母亲从法国回来，将她睽隔多年的女儿研究了一下。 

“我懊悔从前小心看护你的伤寒症，”她告诉我，“我宁愿看你死，不愿看你活着使你自己处处受痛苦。” 

我发现我不会削苹果。经过艰苦的努力我才学会补袜子。我怕上理发店，怕见客，怕给裁缝试衣裳。许多人尝试过教我织绒线，可是没有一个成功。在一间房里住了两年，问我电铃在哪儿我还茫然。我天天乘黄包车上医院去打针，接连三个月，仍然不认识那条路。总而言之，在现实的社会里，我等于一个废物。 

我母亲给我两年的时间学习适应环境。她教我煮饭；用肥皂粉洗衣；练习行路的姿势；看人的眼色；点灯后记着拉上窗帘；照镜子研究面部神态；如果没有幽默天才，千万别说笑话。

在待人接物的常识方面，我显露惊人的愚笨。我的两年计划是一个失败的试验。除了使我的思想失去均衡外，我母亲的沉痛警告没有给我任何的影响。 

生活的艺术，有一部分我不是不能领略。我懂得怎么看“七月巧云”，听苏格兰兵吹 bagpipe，享受微风中的藤椅，吃盐水花生，欣赏雨夜的霓虹灯，从双层公共汽车上伸出手摘树巅的绿叶。在没有人与人交接的场合，我充满了生命的欢悦。可是我一天也不能克服这种咬啮性的小烦恼，生命是一袭华美的袍，爬满了蚤子。</string>
	<key>gentourenxieyi</key>
	<string>一、跟投人须知
1. 跟投人应符合投壶网的合格投资人要求，对投资风险有充分的认识；
2. 注册并通过投壶网投资人审核后，跟投人有权对网站上发布的项目进行跟投；
3. 创业者和领投人对跟投人的选择、份额的分配有最终决定权，如果超额认购，领投人和创业者可以优先选择对公司能够提供重要附加价值的、值得信赖的跟投人，如果仍然超额，建议大家按照出资比例共同缩减。
二、跟投人权利与义务
1. 跟投人所获得的投资条款与领投人一致；
2. 跟投人应该确认向领投人支付5%-10%的利益分成，但无需向领投人支付管理费；
3. 跟投人如果在本轮投资额度超过50%或者累计占企业总股比超过20%，可以提出在董事会中的观察席，是否给出席位的决定权在创业者和领投人；
4. 跟投人可以要求对项目进行尽职调查，但能否给出全面充分的信息披露的权利在创业者和领投人；
5. 跟投人对项目的信息披露和领投人的投资管理如存在疑虑可以通过投壶网平台发出质询；
6. 跟投人不参与公司的重大决策，不进行投资管理，跟投人如果要求提前退出，则需要服从公司董事会和领投人的安排，依据合伙协议自动退出，或者通过投壶网申请退出，经常提前退出的跟投人将会被记录，会被领投人和项目在做选择时筛选出去。</string>
	<key>lingtourenxieyi</key>
	<string>一、领投人要求
1.领投人必须至少投过三个以上的项目并有过成功的投资案例，有过成功投资案例者可视情况放宽标准；
2.领投人必须在项目相关领域具备一定的影响力，并具备丰富的行业经验和行业资源；
3.领投人必须具备更强的独立判断能力和风险承受能力，并且要具备很强的分享精神；
4.领投人必须是在投壶网上活跃的投资人（半年内投资过项目、最近一个月约谈过项目）；
5.领投人必须确保有充分的时间可以帮助项目成长，能够专业的协助创业者开展后续工作，如完善商业计划书，确定估值、投资条款和融资额，协助项目路演等，并为项目带去行业资源和经验，全力促成本轮跟投融资。
二、领投人权利与义务

（一）领投人权利
1.领投人将在投壶网上成为加“V”投资人；
2.领投人拥有优先查看候选项目的权利；
3.领投人拥有优先查看投壶网推荐项目的权利
4.领投人将代表跟投人对项目进行投后管理，出席董事会，并获得5%-20%的利益分成，具体比例根据项目和领投人共同决定。
（二）领投人义务
1.领投人必须确保有充分的时间可以帮助项目成长，能够专业的协助创业者开展后续工作，如完善商业计划书，确定估值、投资条款和融资额，协助项目路演等，并为项目带去行业资源和经验，全力促成该轮跟投融资；
2.领投人作为领投项目的调查人，应当谨慎、细致，并向跟投人提交尽职调查报告。报告内容需有材料依据和事实依据，领投人应承诺：若因自身原因导致调查内容遗漏重要内容、陈述虚假等给投资者和投壶网造成损失的，应当赔偿投资者和投壶网由此遭受的全部损失。
领投人作为该次融资的投资人，除向项目公司投资金额外，应为该次融资成功提供以下支持：
（1）要求项目公司提供公司成立、资产、人事、知识产权、财务、关联交易及投壶网其他与该项目投资有关的资料，并对材料的真实性进行审核，经领投人审核通过和该次融资开始后，在“投壶网”平台上公布相关资料，供该项目其他投资人查阅，以促成该次融资；
（2）向该项目其他投资人公布本人或其他合伙人的联系方式，接受其咨询与监督，并定期向该项目其他投资人汇报项目融资进展情况；
（3）众筹资金募集成功后，担任持股实体的有限合伙企业的普通合伙人及执行事务合伙人；
（4）该次融资完成后，自行或委派有限合伙企业的其他合伙人担任项目公司董事；
（5）为该次融资提供咨询意见。
注：对某个细分领域领投的成绩和回报情况将会成为这名投资人在该领域的投资记录，并将会成为其他投资人进行跟投的重要参考。
三、领投规则
1.第一个确定投资意向的投资人不一定是领投人；
2.如果有多名领投人有领投意向，需要创业者最终确定一名领投人代表；
3.为了定价的公允，建议下一轮领投人可以从现有股东以外寻找；
4.每轮的联合领投人不建议超过2个，并且联合领投人之间最好有共同合作的经历，彼此熟悉；
5.领投人领投额度最低不得少于本轮融资的5%，最高不得超过50%；
6.本轮投资人在3名以内时，各参与方可以选择不采取本规则；本轮投资人超过5名时，需签署一致行动协议，授权领投人作为该项目代表人并负责投后管理事宜和重大决策；如投资人超过10名，建议设立有限合伙企业，领投人作为GP进入公司的董事会，跟投人作为LP，领投人获得5%-20%的利益分成。
四、领投基本流程
1.众筹前，领投人通过投壶网平台选择自己感兴趣的项目，并与创业者深入沟通，确定领投人的领投意愿并对该项目进行尽职调查。如果领投人事先有自己投过的项目，或者已经确认领投的项目，可以以领投人的身份推荐项目优先快速进入合投。
2.众筹时，领投人必须帮助创业者完善商业计划书，确定估值、融资额、最低单笔投资额、投资者席位数和投资条款等，通过投壶网和自己的人脉推荐项目给自己熟悉的投资人，协助项目路演，帮助项目落实跟投；如果完成，则建议创业者出让1%的股权作为奖励。
3.众筹后，领投人有权利和义务代表跟投人出席董事会，尽最大努力为项目提供有价值的帮助，指导和资源。</string>
	<key>shunfeng</key>
	<string>公司初创

在1996年，随着客户数量的不
断增长和国内经济的蓬勃发展，顺丰将网点进一步扩大到广东省以外的城市。至2006年初，顺丰的速递服务网络已经覆盖国内20多个省及直辖市，101个地级市，包括香港、澳门及台湾，成为中国速递行业中民族品牌的佼佼者之一。
顺丰速运（集团）有限公司（以下简称顺丰）作为一家主要经营国际、国内快递业务的港资快递企业，为广大客户提供快速、准确、安全、经济、优质的专业快递服务。
顺丰以“成就客户，推动经济，发展民族速递业”为自己的使命，积极探索客户需求，不断推出新的服务项目，为客户的产品提供快速、安全的流通渠道。
为了向客户提供更便捷、更安全的服务，顺丰速运网络全部采用自建、自营的方式。经过十几年的发展，顺丰已经拥有6万多名员工和4000多台自有营运车辆，30多家一级分公司，2000多个自建的营业网点，服务网络覆盖20多个省、直辖市和香港、台湾地区，100多个地级市。
为给客户提供更优质的快递服务，顺丰仍然不断投入巨资加强公司的基础建设，提高设备和系统的科技含量，不断提升员工的业务技能、自身素质和服务意识，以最全的网络、最快的速度、最优的服务打造核心竞争优势，塑造“顺丰”这一优秀的民族品牌，立志成为“最值得信赖和尊重的速运公司”。
快递起步

1996年，顺丰开始涉足国内快递。
顺丰的快递是深港货运的&quot;自然延伸&quot;，最初的产品基本是深港件，需求增长很快，顺丰象一块海绵，疯狂吸收着快递市场无处不在的养分。一位最早加入顺丰团队的老业务员回忆说：&quot;那时候顺丰只有十几个人，大家围在王卫身边，同吃同住，每天唯一的任务就是跑市场。我们这些业务员都象疯了一样，每天早出晚归，骑着摩托车在大街小巷穿梭。&quot;
很快，顺丰以顺德为起点，将网络的触角延伸至广东省以外，通过向长三角地区复制业务模式，进而扩张到华中、西南、华北。
在顺德之外，顺丰新建的快递网点多数采用合作和代理的方式。每建一个点，就注册一个新公司。这种形式和加盟类似，分公司归当地加盟商所有，互相连成一个网络。顺丰各地网点的负责人是公司的中坚力量，他们上缴一定数额的利润，多余的则留下。令人惊奇的是，直到2002年之前，顺丰一直都没有总部，只有一大批广州顺丰、中山顺丰这样的地方公司。
这种&quot;自然延伸&quot;式的扩张，靠的是自发的加盟。因此，顺丰形成的网络并不是有规划的，而是哪里有市场哪里就有网络。例如广东省，下属县城几乎每个都有顺丰的站点，而在经济发展程度较弱的省份，除了省会城市之外基本没有网点。
顺丰采取的方式与其他公司的加盟方式很像，只不过更松散些。比如，加盟是一种公司之间的商业行为，需要办理工商手续，加盟商们使用公司的统一标识，对外承揽生意。小老板们可以把货送到公司的集散中心来走货，但盈亏要自己负责。
由于是业务带动市场，而此时的市场又很容易做，顺丰便将全部精力放在了市场拓展上，甚至曾采用&quot;人海战术&quot;，期望达到广种多收的效果。
起初，顺丰在业务运作中采取了一种简单的承包方式，给业务员划片、划区，每人负责一块&quot;责任田&quot;。各个片区在负责人的带领下，从开拓到收获，逐渐丰饶起来。一位老业务员回忆说，当时很多业务员骑摩托车取送件，时常有人不幸遇到车祸，断胳膊断腿是常事。&quot;顺丰是我们用生命换来的。&quot;业务员拼命换回来的是不菲的收入。在2000年，顺丰在广东一些城市的业务员，已经有一大批月收入上万元的。在这种示范效应下，顺丰的网络拓张一路顺风满帆。
不只顺丰一家赶上了这个新兴行业的起步良机。宅急送和申通也在这个时期成长起来。尽管与顺丰经营模式不同，但巨大的市场给它们提供了足够的发挥空间，这几家公司后来也成为国内快递业分据天下的&quot;诸侯&quot;企业之一。
2002年成立总部之前，顺丰在全国总共有180多个网点，虽然华东和华北市场进入不深，但名声已经在外。而在九十年代末，国内快递业务在顺丰总体收入中的比例也增加到近40%，顺丰从&quot;香港件&quot;一条腿走路，变成了两条腿走路，有了奔跑的可能。
收权行动

对地方代理和合作者的放权管理，形成了顺丰自下而上的发展动力，顺丰似乎进入了一条无为而治的良性轨道。1999年之前，王卫曾短暂地离开过公司，每天陪太太喝喝茶，打打高尔夫，乐得做富家翁。但放权管理的方式很快给公司带来大问题。
一心扑在市场上的顺丰，网点和人员逐渐增多，被&quot;承包&quot;的各个片区开始形成各自为政的局面。在一些片区，员工只有自己的经理，不知有顺丰的老板。而一些地区负责人的行为出格，无法约束，与顺丰的关系日渐紧张，大有形成诸侯割据之势。而个别权力和影响力过大的负责人，甚至把业务带走单干。&quot;老鼠会&quot;的名声，在此时开始悄然传出。
王卫性格中强硬的一面开始凸现。1999年，顺丰不动声色地开始了全国的收权行动。
王卫的收权方式是一刀切，想留下来的，产权全部回购，否则走人。从用钱来解决问题，到摆平各种各样的威胁、恐吓，经过两年的&quot;整顿&quot;，顺丰的架构和各分公司的产权明晰起来。为了将代表话语权的所有资产牢牢掌握在自己手中，即便是在创业中跟随他十几年的人，王卫也不分给一分钱的股份。据说，在这个过程中，他甚至将曾经供职于公司的父亲与姐姐拒之门外。
2002年，历经人员大清洗、组织结构大变革的顺丰，终于成立了自己的总部。此时的顺丰，从上到下完全成为王卫&quot;一个人的企业&quot;。
之所以能够成功地削弱地方诸侯的权力，与顺丰从一开始设计的战略密切相关。
由于采用分成的管理模式，业务员会把工作当成自己的事情来做，在片区负责人的带领下，业务扩展的速度是飞快的，但权力和影响力过大的负责人很容易把业务带走，这个问题困扰的不仅仅是顺丰一家。对此王卫的办法很简单，就是增加顺丰对客户的粘性。别人承诺48小时到，我能做到36小时。今天别人也做到了36小时，我就把速度缩短到24小时。这种优势的背后是强大的后台支持系统。在这方面，顺丰从来都舍得下本钱，花重金。
一些负责人离开顺丰之后，凭借自己片区的业务资源，或自己开了快递公司，或者转投别家，但鲜有成&quot;大气&quot;者。归根到底，无论是自己做还是加盟别人，他们承运的快件都快不过顺丰，至少都有半天的差距。而客户一旦发现这些差异，又会回来再找顺丰。也恰恰是这个原因，王卫在收权的过程中，并没有对公司造成元气上的伤害。
王卫对一线开拓市场的负责人从不限制成本，只要他认为可以做，值得做的事情，哪怕收益很少，投入很多，他也会全力支持。一些负责人建立网点，想节约成本，只买了少量的电脑，但王卫认为电脑是办公用的，如果不够是没法做好事情的，随即主动拨钱购买。据说，地方负责人拿给王卫报销的票据，无论数额多少，王卫总是看都不看就签。
顺丰的工资高是出名的。一般快递公司的递送人员，月薪一千出头，但在顺丰，两三千很平常，八千一万也不算高。管理层的薪酬，同行公司给十万，顺丰至少要翻一倍。一些创业之初的有功之臣跟不上发展了，王卫从来不会扫地出门，而是高薪奉养起来。
完成调整后的顺丰，从2002年开始正式向华东扩展，随着管理进入正轨，王卫的目标也从自发复制，转向主动铺开一张全国性的立体网络。
飞机运快件

成立总部不久的顺丰，便遭遇了SARS。
2002年底到2003年上半年，顺丰的大本营广东成为SARS肆虐的重灾区。幸运的是，对于快递行业来说，SARS更像是一个机遇。因为很多人选择了足不出户，快件的投递量一度反而有所增加。不过，对于顺丰刚刚起步的全国扩张战略，这毕竟是一个巨大的考验。王卫的精明又一次体现出来。
疫情期间，航空公司的生意非常萧条。2003年初，借航空运价大跌之际，顺丰顺势与扬子江快运签下合同，成为国内第一家（也是唯一一家）使用全货运专机的民营速递企业。
扬子江快运的5架737全货机，全部由顺丰租下，其中3架用于承运自己的快件。这种全货机载重15吨，往返于广州、上海、杭州的3个集散中心之间。除了专机以外，顺丰还与多家航空公司签订协议，利用国内230多条航线的专用腹舱，负责快件在全国各个城市之间的运送。
价格调整

2015年01月26日，顺丰将正式发布《2015年顺丰速运新版价格通知》，自02月01日起正式施行。调整主要涉及25个省份的标准快件长距离配送，首重提价1~2元；此外，电商特惠也略有上涨。[1] 
顺丰速运2015年2月1日起执行快递等产品的新版价格表。新版价格表以距离以及地域作为考量，整体的运费有升有降。
根据顺丰日前发出的《2015年顺丰速运新版价格通知》，具体到标准快件业务上，目的地是江浙沪、京津冀、湖北、山西、四川、重庆、陕西、云南等共23条线路的，首重加1块钱；新疆及西藏线路，首重增加了2块钱。除此之外，标准快件的其他路线基本维持原价，还有一些线路价格有所下调，如广东送到江西的快件，续重由原来的12元下调为8元。[2] 
顺丰次晨

顺丰次晨[3]  是2015年5月6日在环渤海、长三角、珠三角三大经济圈中的7个城市——北京、上海、广州、深圳、东莞、苏州、杭州推出“顺丰次晨”服务，并作出时效承诺，在指定的服务范围和时间内寄递的快件将于次日10：30前送达，如若超时派送，则主动抵免运费。</string>
</dict>
</plist>
